@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

html {
  font-size: 16px;
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 400;
  font-style: normal;
  scroll-behavior: smooth;
}

body {
  position: relative;
  margin: 0;
  overflow-y: scroll;
  color: #ffffff;
  background-color: #000000;
  background-repeat: no-repeat;
  background-image: radial-gradient(
    27% 65% at 47% 15%,
    rgba($color: #6e4afc, $alpha: 0.4) 0%,
    rgba($color: #6e4afc, $alpha: 0) 100%
  );
}

a,
button,
input,
textarea {
  font-family: 'IBM Plex Sans', sans-serif;
  text-decoration: none;
}

figure {
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}
